
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="mobile-agent" content="format=html5; url=http://m.shuquge.com" />
    <meta http-equiv="mobile-agent" content="format=xhtml; url=http://m.shuquge.com" />
    <title>用户登录</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
    <script src="/static/js/common.js"></script>
</head>
<body>
<div class="header">
    <div class="wrap">
        <div class="logo">
            <a href="/" title="书趣阁_笔趣阁">书趣阁_笔趣阁<em>www.shuquge.com</em></a>
        </div>
        <script>search();</script>
    </div>
</div>
<div class="nav">
    <ul>
        <li class="this"><a href="http://www.shuquge.com" title="书趣阁_笔趣阁">首页</a></li>
        <li><a href="http://www.shuquge.com/category/1_1.html">玄幻</a></li>
        <li><a href="http://www.shuquge.com/category/2_1.html">武侠</a></li>
        <li><a href="http://www.shuquge.com/category/3_1.html">都市</a></li>
        <li><a href="http://www.shuquge.com/category/4_1.html">历史</a></li>
        <li><a href="http://www.shuquge.com/category/5_1.html">侦探</a></li>
        <li><a href="http://www.shuquge.com/category/6_1.html">网游</a></li>
        <li><a href="http://www.shuquge.com/category/7_1.html">科幻</a></li></li>
        <li><a href="/top.html">排行榜</a></li>
        <li><a href="/full/">全本</a></li>
        <li><a href="/modules/article/bookcase.php">书架</a></li>
    </ul>
</div>
<div class="clear"></div>
<div class="wrap">
    <br /><br />
    <form name="frmlogin" method="post" action="/login.php?jumpurl=http%3A%2F%2Fwww.shuquge.com%2F">
        <table class="grid" width="250" align="center">
            <caption>用户登录</caption>
            <tr align="center">
                <td class="odd"><table width="100%" class="hide" border="0" cellspacing="0" cellpadding="5">
                    <tr>
                        <td width="37%" align="right" valign="middle">用户名：</td>
                        <td width="63%"><input type="text" class="text" size="20" maxlength="30" style="width:120px" name="LoginForm[username]" onKeyPress="javascript: if (event.keyCode==32) return false;" ></td>
                    </tr>
                    <tr>
                        <td align="right" valign="middle">密　码：</td>
                        <td><input type="password" class="text" size="20" maxlength="30" style="width:120px" name="LoginForm[password]"></td>
                    </tr>

                    <tr>
                        <td><input type="hidden" name="action" value="login"></td>
                        <td><input type="submit" class="button" value="&nbsp;登&nbsp;&nbsp;录&nbsp;" name="submit"></td>
                    </tr>
                </table></td>
            </tr>
        </table>
    </form><br /><br />
</div>
<div class="footer">
    <hr />
    <p>本站所有小说为转载作品，所有章节均由网友上传，转载至本站只是为了宣传本书让更多读者欣赏。</p>
    <p>Copyright &copy; 2015 书趣阁_笔趣阁 All Rights Reserved.</p>
    <script>tj();</script>
</div>
</body>
</html>