<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>用户登录</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="header">
    <div class="wrap">
        <div class="logo">
            <a href="/" title="读读读">读读读</a>
        </div>
        <div class="search">
            <div class="form">
                <input type="search" class="text" name="q" placeholder="小说名称、作者" value="">
                <input type="submit" class="btn" value="搜 索" onclick="novel_search()">
            </div>
        </div>
        <div style="float: right;" class="search">欢迎您，[<a href="{:url('/auth')}">登录</a>]或[<a
                href="{:url('/auth', ['t' => 1])}">注册</a>]
        </div>
    </div>
</div>

<div class="nav">
    <ul>
        <li class="this"><a href="/" title="读读读">首页</a></li>
        {volist name="category_list" id="item"}
        <li><a href="{$item.link}">{$item.alias}</a></li>
        {/volist}

        <li><a href="{:url('/top')}">排行榜</a></li>
        <li><a href="{:url('/full')}">全本</a></li>
        <li><a href="{:url('/bookcase')}">书架</a></li>
    </ul>
</div>

<div class="clear"></div>

<div class="wrap" id="login">
    <div>
        <table class="grid" width="250" align="center">
            <tr align="center">
                <td class="odd">
                    <table width="100%" class="hide" border="0" cellspacing="0" cellpadding="5">
                        <tr>
                            <td width="37%" align="right" valign="middle">邮箱：</td>
                            <td width="63%">
                                <input type="email" class="text" size="20" maxlength="30" style="width:120px" name="username" id="username" placeholder="请输入邮箱">
                            </td>
                        </tr>
                        <tr>
                            <td align="right" valign="middle">密　码：</td>
                            <td>
                                <input type="password" class="text" size="20" maxlength="30" style="width:120px" name="password" id="password" placeholder="请输入密码">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="hidden" name="action" value="login">
                            </td>
                            <td>
                                <input type="submit" class="button" value="&nbsp;{$btn[0]}&nbsp;&nbsp;{$btn[1]}&nbsp;" name="submit" onclick="dododo({$t})">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="footer">
    <hr/>
    <p>本站所有小说为转载作品，所有章节均由网友上传，转载至本站只是为了宣传本书让更多读者欣赏。</p>

    <p>Copyright &copy; 2018 读读读 All Rights Reserved.</p>
</div>

<script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="https://cdn.staticfile.org/js-cookie/latest/js.cookie.min.js"></script>
<script>
    function dododo(t) {
        var username = $('#username').val();
        var password = $('#password').val();
        if (t == 1) {
            login(username, password, "{:url('/login')}");
        }
        else {
            register(username, password, "{:url('/register')}");
        }
    }
</script>
</body>
</html>