{layout name="home@layout" /}
<div class="clear"></div>
<div class="wrap">
    <div class="hot">
        <div class="l bd">
            {volist name="hotestNovels" id="hotest"}
            <div class="item">
                <div class="p10">
                    <div class="image">
                        <a href="{$hotest.novelLink}" target="_blank"><img src="{$hotest.cover}" alt="{$hotest.novel_name}"/></a>
                    </div>
                    <dl>
                        <dt>
                            <span>{$hotest.authorName}</span>
                            <a href="{$hotest.novelLink}" target="_blank">{$hotest.novel_name}</a>
                        </dt>
                        <dd>{$hotest.introduction}</dd>
                    </dl>
                </div>
            </div>
            {/volist}
        </div>
        <div class="r bd">
            <h2>强力推荐</h2>
            <ul class="lis">
                {volist name="hotNovels" id="hot"}
                <li><span class="s1">[{$hot.categoryAlias}]</span><span class="s2"><a href="{$hot.novelLink}">{$hot.novel_name}</a></span><span class="s5">{$hot.authorName}</span></li>
                {/volist}
            </ul>
        </div>
    </div>
    <div class="type bd">
        {volist name="categoryNovelList" id="category_novel"}
        <div class="block">
            <h2>{$category_novel.categoryName}</h2>

            <div class="p10">
                <div class="top">
                    <div class="image">
                        <a href="{$category_novel.topNovel.novelLink}" target="_blank"><img src="{$category_novel.topNovel.cover}" alt="{$category_novel.topNovel.novel_name}"/></a>
                    </div>
                    <dl>
                        <dt>
                            <a href="{$category_novel.topNovel.novelLink}" target="_blank">{$category_novel.topNovel.novel_name}</a>
                        </dt>
                        <dd>{$category_novel.topNovel.introduction}</dd>
                    </dl>
                </div>
                <ul>
                    {volist name="category_novel.novels" id="novel"}
                    <li><a href="{$novel.novelLink}" target="_blank" title="{$novel.novel_name}">{$novel.novel_name}</a>/{$novel.authorName}
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
        {/volist}
    </div>

    <div class="up">
        <div class="l bd">
            <h2> 最近更新小说列表</h2>
            <ul>
                {volist name="latestUpdatedNovels" id="novel"}
                <li>
                    <span class="s1">[{$novel.categoryName}]</span>
                            <span class="s2">
                                <a href="{$novel.novelLink}">{$novel.novel_name}</a>
                            </span>
                            <span class="s3">
                                <a href="{$novel.chapterLink}">{$novel.chapterName}</a>
                            </span>
                    <span class="s4">{$novel.authorName}</span>
                    <span class="s5">{$novel.updateAt}</span>
                </li>
                {/volist}
            </ul>
        </div>
        <div class="r bd">
            <h2>最新入库小说</h2>
            <ul>
                {volist name="latestCreatedNovels" id="novel"}
                <li>
                    <span class="s1">[{$novel.categoryAlias}]</span>
                            <span class="s2">
                                <a href="{$novel.novelLink}">{$novel.novel_name}</a>
                            </span>
                    <span class="s5">{$novel.authorName}</span>
                </li>
                {/volist}
            </ul>
        </div>
    </div>
</div>

<script src="/static/js/third_party/sea.js"></script>
<script>
    seajs.use('/static/js/entry');
    seajs.use('/static/js/home/index', function (reload) {
        reload.init();
    });
    seajs.use('/static/js/common', function (reload) {
        reload.init();
    });
</script>
