

<div class="clear"></div>

<div class="book">
    <div class="path">
        <div class="p">
            <a href="/">读读读</a> &gt;
            <a href="{$novel.novelLink}">{$novel.novel_name}</a>

            <div style="float: right;">
                <a style="margin: 15px;padding: 5px;background-color: #459DF5;color:#ffffff;" href="javascript:void()"
                   data-novelid="{$novel.novel_id}" onclick="addIntoBookCase()">加入书架</a>
                <a style="margin: 15px;padding: 5px;background-color: #459DF5;color:#ffffff;" href="javascript:void()"
                   data-novelid="{$novel.novel_id}" onclick="recommendNovel()">推荐本书</a>
            </div>

        </div>
    </div>
    <div class="info">
        <div class="cover">
            <img src="{$novel.cover}" alt="{$novel.novel_name}"/>
        </div>
        <h2>{$novel.novel_name}</h2>

        <div class="small">
            <span>作者：{$novel.authorName}</span>
            <span>分类：{$novel.categoryName}</span>
            <span>状态：{$novel.stateText}</span>
            <span>字数：{$novel.words}</span>
            <span class="last">更新时间：{$novel.updateAt}</span>
            <span class="last">最新章节：<a href="{$novel.latestChapterUrl}">{$novel.latestChapterName}</a></span>
        </div>
        <div class="intro">
            <span>简介：</span>
            {$novel.introduction}
        </div>
        <!--<div class="link">-->
        <!--<span>-->
        <!--推荐阅读：-->
        <!--<a href="http://www.shuquge.com/txt/71331/index.html">系统之长姐难为</a>-->
        <!--<a href="http://www.shuquge.com/txt/73269/index.html">修真之我是女主</a>-->
        <!--<a href="http://www.shuquge.com/txt/30668/index.html">修真聊天群</a>-->
        <!--</span>-->
        <!--</div>-->
    </div>
</div>

<div class="listmain">
    <dl>
        <dt>《{$novel.novel_name}》最新章节</dt>
        {volist name='latestChapterList' id='item'}
        <dd><a href="{$item.chapterLink}">{$item.chapter_name}</a></dd>
        {/volist}
        {volist name='chapterGroupList' id='chapter_group'}
        <dt>{$chapter_group.chapter_group_name}</dt>
        {volist name="chapter_group['chapters']" id='chapter'}
        <dd><a href="{$chapter.chapterLink}">{$chapter.chapter_name}</a></dd>
        {/volist}
        {/volist}
    </dl>
</div>
