<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="mobile-agent" content="format=html5; url=http://m.eps.ink"/>
    <meta http-equiv="mobile-agent" content="format=xhtml; url=http://m.eps.ink"/>
    <title>{$header}</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
</head>

