{include file="/header"}
<body>

<div class="header">
    <div class="wrap">
        <div class="logo">
            <a href="/" title="读读读_读读读">读读读_读读读</a>
        </div>
        <div class="search">
            <div class="form">
                <input type="search" class="text" name="q" placeholder="小说名称、作者" value="">
                <input type="submit" class="btn" value="搜 索" onclick="novel_search()">
            </div>
        </div>
        <div style="float: right;" class="search">欢迎您，[<a href="{:url('/login')}">登录</a>]或[<a href="{:url('/register')}">注册</a>]
        </div>
    </div>
</div>


<div class="nav">
    <ul>
        <li class="this"><a href="/" title="读读读">首页</a></li>
        {volist name="categoryList" id="category"}
        <li><a href="{$category.categoryLink}">{$category.category_alias}</a></li>
        {/volist}

        <li><a href="{:url('/top')}">排行榜</a></li>
        <li><a href="{:url('/full')}">全本</a></li>
        <li><a href="{:url('/bookcase')}">书架</a></li>
    </ul>
</div>

{__CONTENT__}
</body>

{include file="/footer"}

</body>

