<div class="clear"></div>

<div class="wrap" id="login">
    <div>
        <table class="grid" width="250" align="center">
            <tr align="center">
                <td class="odd">
                    <table width="100%" class="hide" border="0" cellspacing="0" cellpadding="5">
                        <tr>
                            <td width="37%" align="right" valign="middle">邮箱：</td>
                            <td width="63%">
                                <input type="email" class="text" size="20" maxlength="30" style="width:120px" name="username" id="username" placeholder="请输入邮箱">
                            </td>
                        </tr>
                        <tr>
                            <td align="right" valign="middle">密　码：</td>
                            <td>
                                <input type="password" class="text" size="20" maxlength="30" style="width:120px" name="password" id="password" placeholder="请输入密码">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="hidden" name="action" value="login">
                            </td>
                            <td>
                                <input type="submit" class="button" value="&nbsp;注&nbsp;&nbsp;册&nbsp;" name="submit" onclick="register()">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
